meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Aplicación de motores de imán permanente en superficie con bombas de cavidades progresivas
meta(meta name="description" content="Los cabezales PMM para bombeo por cavidades progresivas tienen la capacidad de optimizar y mejorar el sistema convencional con cabezal de rotación, sistema de transmisión de potencia y motor de inducción.  A continuación veremos el funcionamiento, aplicación, beneficios, riesgos y formas de mitigación de los mismos.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")