h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 22410005-03. Alistar la puesta en funcionamiento de los motores de corriente alterna sincrónicos de imanes permanentes, según aplicaciones del proceso, normas y protocolos de seguridad vigentes.