h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'La tecnología, motores PMM en superficie', 'main.html#page/tecnologia/')

                    +navTemaItem('2', 'Conceptos básicos de los motores de imanes permanentes en superficie', 'main.html#page/conceptos/')

                    +navTemaItem('3', 'Características de un PMM en superficie', 'main.html#page/caracteristicas/')

                    +navTemaItem('4', 'Placas características de los motores de imanes permanentes en superficie', 'main.html#page/placas/')

                    +navTemaItem('5', 'Esquemas y planos de conexionado de motores de imanes permanentes', 'main.html#page/esquemas/')

                    +navTemaItem('6', 'Variador de velocidad (VSD) - controles para motor PMM', 'main.html#page/variador/')

                    +navTemaItem('7', 'Riesgos eléctricos y mecánicos de motores síncronos de imanes permanentes', 'main.html#page/riesgos/')

                    +navTemaItem('8', 'Motor de imanes permanentes como generador eléctrico', 'main.html#page/motor/')

                    +navTemaItem('9', 'Control electrónico de frenado para PMM de superficie', 'main.html#page/control/')

                    +navTemaItem('10', 'Barreras físicas para la protección de generación eléctrica producida por un motor de magnetos permanentes barreras físicas para PMM de superficie', 'main.html#page/barreras/')