.container#tecnologia

    .header-ecored
        h1 1. La tecnología, motores PMM en superficie

    .card
        img.card-img-top(src="assets/images/pages/img01.png")
        .card-body
            p.mb-4 Los motores de imanes permanentes (PMM), han venido siendo implementados en gran variedad de aplicaciones e industrias desde hace muchos años gracias a su demostrada eficiencia que permite tener importantes ahorros de energía. Una de las industrias que tiene un elevado consumo de energía es la petrolera, la cual consume gran cantidad de energía en los diferentes sistemas de levantamiento artificial de petróleo, que son básicamente los diferentes modos para extraer el producto del subsuelo. 

            p.mb-4 Desde hace años se vienen implementando tecnologías que permiten la optimización del consumo de energía con un ahorro económico, la mitigación de emisiones de CO#[sub 2] que generan los sistemas de motores de inducción los cuales tienen bajas eficiencias y por consiguiente altos consumos de energía generando en sí un bajo apoyo a la gestión ambiental.

            .bg-t2
                .quote
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-2 Las aplicaciones más comunes de los PMM en la industria son en fondo de pozo con motores de imanes permanentes de media tensión para sistemas de levantamiento artificial con bombeo electrosumergible (ESP – Electro Submersible Pump) o bombeo por cavidades progresivas. Desde hace más de 10 años, se han venido implementando los PMM de baja tensión, como su aplicación en superficie en sistemas de levantamiento artificial con bombeo por cavidades progresivas.
                    p.text-right.mb-0 #[i (Hirschfeldt., 2008, pp. 1–3)]
                .quote__bar 
                        .quote__bar__hr
                        .quote__bar__icon
                            img(src="assets/images/icons/quote_02.svg")
    
    #concepto
    .header-ecored
        h2 1.1 Motores de imanes permanentes en aplicaciones de superficie - concepto de motor cabezal

    .jumbotron.bg-white
        .row
            .col.m-auto
                p El cabezal de rotación es un equipo de accionamiento mecánico, el cual con sus rodamientos es el encargado de soportar la carga axial del sistema. Cuenta con un freno mecánico o hidráulico para controlar el #[i Backspin] generado en los sistemas PCP. El motor eléctrico de inducción, junto con el sistema de transmisión de potencia son los encargados de generar el torque que es transmitido a la barra lisa a través del cabezal de rotación, accionando de esta manera la bomba de cavidades progresivas en fondo.
            .col-md-5.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img02.png")

        .row.bg-t4            
            .col-md-5.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img03.png")
            .col.m-auto
                p Los motores de imanes permanentes PMM en superficie bombeo PCP integran en un solo equipo el cabezal de rotación, el sistema de transmisión de potencia y el motor de inducción. Esto se logra al tener un motor con imanes permanentes (PMM) de eje hueco, con acople directo a la barra lisa con relación 1 a 1 (no hay sistema de transmisión por lo que es eje hueco) integrado con un cabezal de rotación que soporta la carga axial.

        p.my-4 De esta manera, se integra un solo equipo que en la parte superior tiene un motor PMM y en la parte inferior un cabezal de rotación. El motor cabezal cuenta con un sistema electrónico de frenado para la contención completa de un #[i Backspin] a diferencia de los sistemas convencionales.

        .row          
            .col-md-4.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img04.png")
            .col.m-auto
                ul.list-p1
                    li Cabezal de producci&oacute;n / cabeza colgadora de tuber&iacute;a de producci&oacute;n.
                    li V&aacute;lvula Preventora &ndash; BOP.
                    li Tee de producci&oacute;n.
                    li Prensa estopas &ndash; #[i Stuffing Box].
                    li Cabezal de rotaci&oacute;n.
                    li Grampa de barra pulida.
                    li Sistema de transmisi&oacute;n de potencia (correas y poleas).
                    li Motor el&eacute;ctrico de inducci&oacute;n.        

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/EcabQOsYCQ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    #comparacion
    .header-ecored
        h2 1.2 Comparación de los cabezales PMM versus los sistemas convencionales

    .jumbotron.bg-white
        .col.m-auto
            p Los sistemas convencionales son muy diferentes de los cabezales PMM, desde su construcción, características, capacidades, funcionamiento de operación y estructura. A continuación vamos a comparar los principales aspectos de un sistema convencional vs. un sistema PMM:

        .sub-ecored.mt-4
            h2 Construcción: partes y accesorios

        .row         
            .col-md-5.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img05.png")
            .col.m-auto
                p.text-c1 #[b Sistema convencional:]
                ul.list-p1
                    li Cabezal de producci&oacute;n / cabeza colgadora de tuber&iacute;a de producci&oacute;n.
                    li V&aacute;lvula preventora &ndash; BOP.
                    li Tee de producci&oacute;n.
                    li Prensa estopas &ndash; #[i Stuffing Box].
                    li Cabezal de rotaci&oacute;n.
                    li Grampa de barra pulida.
                    li Sistema de transmisi&oacute;n de potencia (correas y poleas).
                    li Motor el&eacute;ctrico de inducci&oacute;n.

        .row         
            .col-md-5.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img06.png")
            .col.m-auto
                p.text-c1 #[b Cabezal PMM:]
                    ul.list-p1
                        li Cabezal de producción / cabeza colgadora de tubería de producción (Convencional).
                        li Válvula preventora – BOP (Convencional).
                        li Tee de producción (Convencional).
                        li Prensa estopas – #[i Stuffing Box] (Convencional).
                        li Cabezal PMM.
                        li Grampa de barra pulida convencional.

        .bg-t2
            .sub-ecored.mt-4
                h2 Manipulación de cargas:

            .row
                .col.m-auto
                    p.text-c1 #[b Sistema convencional:]
                        ul.list-p1
                            li Carga desbalanceada.
                            li Dificultad de manipulación, cargue y descargue.
                            li Necesidad de soportes especiales para el transporte y almacenamiento del sistema. El soporte equivocado puede traer riesgos para los equipos y las personas involucradas en la manipulación y almacenamiento de los equipos.
                    p.text-c1 #[b Cabezal PMM:]
                        ul.list-p1
                            li Carga concéntrica y balanceada.
                            li Facilidad de manipulación, cargue y descargue.
                            li No requiere soportes especiales para su almacenamiento y transporte.
                .col-md-5.col-12.m-auto
                    img.img-fluid.img-a(src="assets/images/pages/img07.png")
        
        .sub-ecored.mt-4
            h2 Conexión eléctrica:

        .row         
            .col-md-5.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img08.png")
            .col.m-auto
                p.text-c1 #[b Sistema convencional:]
                    ul.list-p1
                        li Conexión de cables tipo “colombina” (se conectan las fases directamente sin bornera).
                        li Mayor riesgo de presentar puntos calientes.
                        li Variador de frecuencia estándar.
        
        .row
            .col.m-auto
                p.text-c1 #[b Sistema convencional:]
                    ul.list-p1
                        li Conexión en bornera con caja de bornes certificada (en el caso del fabricante General Magnetic GM).
                        li Menor riesgo de presentar puntos calientes.
                        li Variador de frecuencia premium que tenga capacidad de manejar motores de imanes permanentes PMM y tenga probada la compatibilidad con el sistema electrónico de frenado.
            .col-md-5.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img09.png")
            
        .row     
            .col-md-5.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img10.png")
            .col.m-auto
                .sub-ecored.mt-4
                    h2 Control de #[i Backspin]:

                p.text-c1 #[b Sistema convencional:]
                ul.list-p1
                    li Freno mecánico.
                    li Freno hidráulico.

                p.text-c1 #[b Cabezal PMM:]
                ul.list-p1
                    li Control electrónico de frenado a prueba de fallas.
                
                .sub-ecored.mt-4
                    h2 Ciclo de vida:

                p.text-c1 #[b Sistema convencional:]
                ul.list-p1
                    li 2 – 3 años para rebobinado de motor y mantenimiento mayor de cabezal de rotación.

                p.text-c1 #[b Cabezal PMM:]
                ul.list-p1
                    li 10 años para cambio de rodamientos de carga axial.

        .bg-t2
            .sub-ecored.mt-4
                h2 Eficiencia:

            p.text-c1 #[b Sistema convencional:]
            ul.list-p1
                li Los motores de inducción, inclusive los de alta eficiencia, que pueden llegar a eficiencias de 92 % - 95 %, son motores que cuando no trabajan a su máxima capacidad pierden eficiencia. En los sistemas PCP los motores trabajan a una velocidad de entre 80-300 RPM y normalmente la máxima velocidad de un motor es de 500 RPM, por lo que están trabajando generalmente por debajo del 60 % e inclusive en la mayoría de las veces por debajo del 50 % de su máxima capacidad. Esto hace que el motor pierda más eficiencia y no opere en sus máximas capacidades. 
                li Si bien los sistemas de transmisión de potencia tienden a tener eficiencias muy elevadas, inclusive cercanas al 98 %, esto es cuando el sistema es nuevo. En nuestros ambientes climáticos con alta humedad y calor, las correas tienden a agrandarse, haciendo que el sistema pierda eficiencia rápidamente. 
                li Teniendo en cuenta los factores anteriormente mencionados, generalmente se dice que un sistema convencional tiene una eficiencia de entre 70 % - 80 %.

            p.text-c1 #[b Cabezal PMM:]
            ul.list-p1
                li Al ser un motor PMM su eficiencia es mucho mayor que la de un motor de inducción. Es un motor diseñado para trabajar a bajas velocidades y altos torques, por lo que puede trabajar desde 30 RPM (min. Vel.) hasta 450 RPM (Max. Vel.) con una eficiencia probada de más del 97 %.
                li Al ser un motor cabezal integrado de eje hueco, no se tiene sistema de transmisión de potencia, por lo que la eficiencia no se ve afectada por el desgaste de correas y poleas.
                li La eficiencia sistemática es superior.
            
            .row.justify-content-center
                .col-auto.my-2
                    a(href="media/documentos/Anexo_4.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p General Magnetic brochure
        
    #ventajas
    .header-ecored
        h2 1.3 Ventajas y desventajas de los motores PMM en superficie

    .jumbotron.bg-white
        .row.mb-4
            .col-12.col-md
                img.img-fluid.img-ngt(src="assets/images/pages/img11.svg", style="max-width: 30%")
                .bg-t3
                    p.text-c1 #[b Ventajas de los sistemas convencionales:]
                    ul.list-p1
                        li Menor riesgo eléctrico.
                        li Posibilidad de usar variadores estándar.
                    p.text-c1 #[b Ventajas de los cabezales PMM:]
                    ul.list-p1
                        li Mayor eficiencia.
                        li Ahorro en consumo de energ&iacute;a.
                        li Facilidad de manipulaci&oacute;n de carga.
                        li Facilidad de almacenamiento.
                        li Menos mantenimientos preventivos y reactivos. 
                        li Mayor ciclo de vida del producto.
                        li Facilidad de operaci&oacute;n desde el variador de frecuencia en todo el rango operativo (no requiere cambios de relaci&oacute;n ni manipulaci&oacute;n f&iacute;sica para cambiar par&aacute;metros operativos). El sistema es 100 % controlado por el variador de velocidad, por lo que es posible cambiar los par&aacute;metros de operaci&oacute;n desde el centro de mando.
                        li Mayor control y monitoreo remoto.
                        li Menor riesgo mec&aacute;nico.
                        li Incremento de producci&oacute;n.
                        li Flexibilidad de operaci&oacute;n.
                        li Silencioso &ndash; 68 Db a 3 metros de distancia.
                        li Contenci&oacute;n completa de #[i Backspin] con control electr&oacute;nico de frenado de resistencias.

        .row.mb-4
            .col-12.col-md
                img.img-fluid.img-ngt(src="assets/images/pages/img12.svg", style="max-width: 30%")
                .bg-t3
                    p.text-c1 #[b Desventajas de los sistemas convencionales:]
                    ul.list-p1
                        li Menor eficiencia.
                        li Mayor consumo de energía.
                        li Carga desbalanceada.
                        li Necesidad de soportes especiales para su almacenamiento.
                        li Mayor cantidad de mantenimientos preventivos y reactivos (cambio de aceite, correas, poleas, rodamientos, rebobinados, etc.)
                        li Necesidad de un equipo adicional para recambio al momento de realizar mantenimientos mayores como son un rebobinado o un cambio de rodamientos o freno mecánico o hidráulico.
                        li Ciclo de vida reducido.
                        li Necesidad de hacer ajustes físicos al equipo para algunos cambios de parámetros de operación.
                        li Mayor riesgo mecánico.
                        li Mayor producción diferida.
                        li Freno mecánico o hidráulico (mayor riesgo).

                    p.text-c1 #[b Desventajas de los cabezales PMM:]
                    ul.list-p1
                        li Mayor riesgo eléctrico.
                        li Necesidad de variadores de velocidad premium que además tengan probada la compatibilidad con el controlador electrónico de frenado para la contención completa de #[i Backspin].
                        li Mayor costo de capital.
        
        img.img-fluid.img-a(src="assets/images/pages/img13.png")

        .row.justify-content-center
            .col-auto.my-2
                a(href="media/documentos/Anexo_1.pdf" target="_blank").media-link
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                    .media-link-title
                        p Presentación para curso PMM Sena
            .col-auto.my-2
                a(href="media/documentos/Anexo_2.pdf" target="_blank").media-link
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                    .media-link-title
                        p Manual de bombeo de cavidades progresivas - versión 2008V1
            .col-auto.my-2
                a(href="media/documentos/Anexo_3.pdf" target="_blank").media-link
                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                    .media-link-title
                        p Presentación Bombas de Cavidades Progresivas BCP





        




        
