.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
       

        p 
            strong.mr-2 #[i BACKSPIN:]
            | efecto que se genera en un sistema de levantamiento artificial con bombeo por cavidades progresivas. El mismo se genera cuando el pozo se detiene y el petróleo se devuelve por gravedad a través de las cavidades de la bomba, generando un giro inverso (en sentido contrario) hasta que los fluidos lleguen a nivel.
        p
            strong.mr-2 Bomba de cavidades progresivas en fondo:
            | es la bomba de cavidades progresivas compuesta por un rotor y un estator que se encarga de bombear el petróleo a superficie en el sistema de levantamiento artificial con bombeo por cavidades progresivas.

        p
            strong.mr-2 BOP (Blow Out Preventors):
            | son válvulas de seguridad de alta presión utilizadas para sellar, controlar y monitorear el fluido de un pozo para prevenir una salida de crudo incontrolada (blowout) debido a fallas en el sistema de control de presiones.

        p
            strong.mr-2 Caja de bornes:
            | es la caja del cabezal PMM donde se encuentran los bornes para realizar la conexión eléctrica del motor PMM. 

        p
            strong.mr-2 Carga axial:
            | es la carga (el peso) que debe soportar el cabezal de rotación, la misma capacidad se mide en libras y contempla el peso de la sarta de varillas, el rotor, la columna de fluido, viscosidad.

        p
            strong.mr-2 Carga nominal:
            | se trata de la capacidad máxima del motor, es la que se encuentra en la placa del equipo.

        p
            strong.mr-2 EMF (Electromotive force):
            | energía por unidad de carga que es impartida por una fuente de energía, tal como un generador eléctrico o una batería.

        p
            strong.mr-2 PCP:
            | Progressive Cavity Pump (Bomba de Cavidades Progresivas).

        p
            strong.mr-2 PMM:
            | Permanent Magnet Motor (Motor de Imanes Permanentes).

        p
            strong.mr-2 PTC:
            | Coeficiente Positivo de Temperatura (Positive Coefficient of Temperature. 

        p
            strong.mr-2 RAM:
            | dispositivo de bloqueo mecánico de la barra lisa.

        p
            strong.mr-2 Sistemas PCP:
            | Sistema de Levantamiento Artificial de Petróleo de Bombeo por Cavidades Progresivas, compuesto por una bomba de cavidades progresivas en fondo, el cual está conectado a superficie con una sarta de varilla hasta un cabezal con motor que genera la rotación que activa la bomba que está en fondo.

        p
            strong.mr-2 Top Drive:
            | cabezal.

        p
            strong.mr-2 Torque:
            | medida de la fuerza que se necesita aplicarle a una varilla para hacer girar un objeto.

        p
            strong.mr-2 VFD:
            | Variable Frecuency Drive (Variador de Frecuencia.

        p
            strong.mr-2 VSD:
            | Variable Speed Drive (Variador de Velocidad.   