.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
       

        p 
            strong.mr-2 #[i BACKSPIN]
            | Efecto que se genera en un sistema de Levantamiento Artificial con Bombeo por cavidades progresivas. El mismo se genera cuando el pozo se detiene y el petróleo se devuelve por gravedad a través de las cavidades de la bomba, generando un giro inverso (en sentido contrario) hasta que los fluidos lleguen a nivel.
        p
            strong.mr-2 Bomba de Cavidades Progresivas en Fondo:
            | Es la bomba de Cavidades Progresivas compuesta por un Rotor y un Estator que se encarga de Bombear el Petróleo a Superficie en el Sistema de Levantamiento Artificial con Bombeo por Cavidades Progresivas.

        p
            strong.mr-2 BOP:
            | (Blow out preventors): son válvulas de seguridad de alta presión utilizadas para sellar, controlar y monitorear el fluido de un pozo para prevenir una salida de crudo incontrolada (blowout) debido a fallas en sistema de control de presiones.

        p
            strong.mr-2 Caja de Bornes:
            | Es la caja del Cabezal PMM donde se encuentran los Bornes para realizar la conexión eléctrica del Motor PMM. 

        p
            strong.mr-2 Carga Axial:
            | Es la carga (el peso) que debe soportar el cabezal de rotación, la misma capacidad se mide en libras y contempla el peso de la sarta de varillas, el rotor, la columna de fluido, viscosidad.

        p
            strong.mr-2 Carga Nominal:
            | Se trata de la capacidad máxima del Motor, es la que se encuentra en la placa del equipo.

        p
            strong.mr-2 EMF:
            | (Electromotive force) Energía por unidad de carga que es impartida por una fuente de energía, tal como un generador eléctrico o una batería.

        p
            strong.mr-2 PCP:
            | Progressive Cavity Pump (Bomba de Cavidades Progresivas).

        p
            strong.mr-2 PMM:
            | Permanent Magnet Motor (Motor de Imanes Permanentes).

        p
            strong.mr-2 PTC:
            | Coeficiente Positivo de Temperatura (Positive Coefficient of Temperature. 

        p
            strong.mr-2 RAM:
            | Dispositivo de bloqueo mecánico de la barra lisa.

        p
            strong.mr-2 Sistemas PCP:
            | Sistema de Levantamiento Artificial de Petróleo de Bombeo por Cavidades Progresivas, compuesto por una Bomba de Cavidades Progresivas en Fondo, el cual está conectado a Superficie con una sarta de Varilla hasta un Cabezal con Motor que genera la rotación que activa la bomba que está en fondo.

        p
            strong.mr-2 Top Drive:
            | Cabezal.

        p
            strong.mr-2 Torque:
            | Medida de la fuerza que se necesita aplicarle a una varilla para hacer girar un objeto.

        p
            strong.mr-2 VFD:
            | Variable Frecuency Drive (Variador de Frecuencia.

        p
            strong.mr-2 VSD:
            | Variable Speed Drive (Variador de Velocidad.   