.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Marcelo Hirschfield, 2008, PCPump Handbook Versión 2008V1 – Manual de Bombeo de Cavidades Progresivas.
                    
                    td Manual
                    td 
                        a(href="http://www.oilproduction.net/files/PCPump-Handbook-2008V1.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Erika Ávila, Ing. Carlos José Vilchez (Instructor), Bombas de Cavidad Progresivas – BCP, Sena.
                    
                    td Presentación – curso Sena
                    td 
                        a(href="media/documentos/Anexo_3.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td General Magnetic GM, General Magnetic Brochure Nov 2017 v5.
                    
                    td PDF - Brochure
                    td 
                        a(href="media/documentos/Anexo_4.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver
                
                tr
                    td PMM trifásico con 12 polos (estator) y 9 imanes (rotor).
                    
                    td Imagen 
                    td 
                        a(href="https://www.researchgate.net/figure/Additional-winding-for-a-three-phase-PM-motor-with-eight-poles-and-12-slots-and-b_fig2_315526530", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Eficiencia de un motor de inducción en función de la potencia en la carga.
                    
                    td Artículo
                    td 
                        a(href="http://www.emb.cl/electroindustria/articulo.mvc?xid=1169&ni=como-incrementar-la-eficiencia-de-los-motores-de-induccion", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Aaron Brassard, Manual del Usuario – Top Drive Directo con Motor de Imanes Permanentes Integradom Noviembre de 2018.
                    
                    td Manual del usuario
                    td 
                        a(href="media/documentos/Anexo_7.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver
                
                tr
                    td Formación para la Industria 4.0 Par Motor, Par Resistente.
                    
                    td Artículo
                    td 
                        a(href="https://automatismoindustrial.com/motores/1-3-3-motores-asincronos/par-motor-par-resistente/", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Rodatech S.A.S., 2018, Hoja de Llamado al Cliente (Datasheet).
                    
                    td Formato
                    td 
                        a(href="media/documentos/Anexo_8.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td TÛV SÛD, Importancia de las Certificaciones ATEX e IECEx.
                    
                    td PDF
                    td 
                        a(href="https://www.tuv-sud.es/uploads/images/1522772163989322581007/es-tuv-sud-process-safety-atex-iecex.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver  