include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Ávila, E., & Vilchez García, C. J. (2019). Presentación bombas de cavidades progresivas BCP.", "https://www.rodatech.co/")

        +referenciaItem("Del Pino Castrillón, J. J. (2015). Estudio integral de factibilidad de la migración de motores convencionales a motores de imanes permanentes para equipos electrosumergibles de levantamiento artificial (Doctoral dissertation, Universidad Industrial de Santander, Escuela De Ingeniería de Petróleos).", "")

        +referenciaItem("General Magnetic GM. (2018). MANUAL DE USUARIO – TOP DRIVE DIRECTO CON MOTOR DE IMANES PERMANENTES INTEGRADO. Rodatech S.A.S.", "")

        +referenciaItem("Herrera Guachamin, J G. (2018). Análisis de la eficiencia de los motores de inducción que operan bajo diferentes condiciones de fallos [Tesis de maestría]. Universidad Politécnica de Valencia.", "")

        +referenciaItem("Hirschfeldt., M. (2008). Manual de bombeo de cavidades progresivas (Versión 1 ed.).", "http://oilproduction.net/produccion/artificial-lift-systems/pcp-bombas-de-cavidades-progresivas2/item/1714-manual-de-bombeo-de-cavidades-progresivas-pcp", "http://oilproduction.net/")

        +referenciaItem("Intertek. (2019). Hazardous Locations & Explosive Atmospheres.", "https://www.intertek.com/hazardous-locations/guide/", "https://www.intertek.com/")

        +referenciaItem("Mantilla, L. F., & Quispe, E. C. (2004). Motores eléctricos de alta eficiencia: características electromecánicas, ventajas y aplicabilidad. Researchgate." , "https://www.researchgate.net/publication/277105627_Motores_electricos_de_alta_eficiencia_caracteristicas_electromecanicas_ventajas_y_aplicabilidad", "https://www.researchgate.net/")

        +referenciaItem("Rodatech. (2019, agosto). Procedimientos de seguridad e instrucciones operativas para los Top Drive MagnoDrive de General Magnetic GM. Rodatech S.A.S.", "")

        +referenciaItem("Rodatech, S.F.(2020). Presentación PMM Top Drive.", "https://www.rodatech.co/")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>